html {
  background-color:rgb(12, 10, 24);
  font-family: sans-serif;
  color: whitesmoke;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #ff043a;

}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
 
}

.hamburger .line {
  border-radius:10px;
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff043a;
  
}

.nav-links {
  width: 100%;
  top: 5rem;
  left:100px;
  display: none;
  margin: 0;
  
}

.nav-links a {
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #00edfe;
  
}

.nav-links a:hover{
  border: 1px solid rgb(255, 255, 255);
  background-color: #ff043a;
  
}
.nav-links a:focus {
  background-color:#ff003799;
  transform: translateY(4px);
  box-shadow: rgb(29, 28, 28) 0px 5px;
 
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .card{
    border-radius: 15px;
    background-color: rgba(73, 66, 102, 0.489);
    box-shadow: rgb(22, 22, 32) 10px 8px;

    border: 1px solid rgb(255, 255, 255);
    height: auto;
    width: 100%;
    padding: 15px;
  }
  .nav-links {
    display: flex;
    justify-content: center; 
    width: auto;
    background: none;
    
  }

  .nav-links a {
    margin-left:10px;
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 3px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 254) 0px 5px;
  }
  .hamburger {
    display: none;
  }
}