---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home Page';
const homeTitle = 'Wellcome!';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <BaseLayout homeTitle={homeTitle}>
    <div class='card'>
      <h2>To my awesome blog</h2>
    </div>
  </BaseLayout>


</html>
