---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  a {
    border-radius: 15px;
    padding: 1rem;
    color: white;
    height: fit-content;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
  }
  a:hover {
    box-shadow: rgb(31, 30, 30) 0px 10px;
    background-color: #ff043a;
  }
  a:focus {
    box-shadow: rgb(21, 20, 20) 0px 5px;
    transform: translateY(4px);
  }
</style>
